<% if (post.link){ %>
  <h6 class="<%= class_name %>" itemprop="name">
    <a href="<%- url_for(post.link) %>" target="_blank" itemprop="url"><%= post.title %></a>
  </h6>
<% } else if (post.title){ %>
  <% if (index){ %>
    <h6 class="<%= class_name %>" itemprop="name">
      <a href="<%- url_for(post.path) %>"><%= post.title %></a>
    </h6>
  <% } else { %>
    <h4 class="<%= class_name %>" itemprop="name">
      <%= post.title %>
    </h4>
  <% } %>
<% } %>